

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>

              <li>
                <a>
                   VISAGGE
                </a>
              </li>

            </ul>
          </nav>
          <div class="copyright float-right">
            &copy; <a>Software de gestión de inventario</a> <div id="year"> </div>
          </div>
        </div>
    </footer>

<script>
    var d = new Date();
    var n = d.getFullYear();
    document.getElementById("year").innerHTML = n;
</script>
