    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a target="_blank" rel="noopener noreferrer" 
            class="simple-text logo-normal">
          Zapaterias Paqui
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="/">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'page-user' in segment %} active {% endif %}">
            <a class="nav-link" href="/page-user.html">
              <i class="material-icons">person</i>
              <p>Socios</p>
            </a>
          </li>
          <li class="nav-item {% if 'contabilidad' in segment %} active {% endif %}">
            <a class="nav-link" href="/contabilidad">
              <i class="material-icons">payments</i>
              <p>Contabilidad</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-typography' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-typography.html">
              <i class="material-icons">inventory</i>
              <p>Productos</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-icons' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-icons.html">
              <i class="material-icons">group</i>
              <p>Personal</p>
            </a>
          </li>

          <li class="nav-item {% if 'campanas' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'campanas' %}">
              <i class="material-icons">ads_click</i>
              <p>Marketing</p>
            </a>
          </li>

          
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Logout</p>
            </a>
          </li>


        {% else %}
          <!--Sidebar vacía si no hay nadie logeado-->

        {% endif %}
        </ul>
      </div>

    </div>
