    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
      <div class="logo">
        <a class="simple-text logo-normal">
          Vissagge
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="nav-item {% if 'index' in segment %} active {% endif %}">
            <a class="nav-link" href="{% url 'home:inicio' %}">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-tables' in segment or 'ui-typography' in segment or 'registrar_inventario_form' in segment %} active show {% endif %}">
          <a class="nav-link" href="#submenu" data-toggle="collapse" aria-expanded="false">
            <i class="material-icons">content_paste</i>
            <p>Registrar</p>
          </a>
          <ul class="collapse {% if 'ui-tables' in segment or 'ui-typography' in segment or activo or activo_listar %} show {% endif %}" id="submenu">
            <li class="nav-item {% if activo %} active {% endif %}">
              <a class="nav-link" href="{% url 'home:registrar_inventario' %}">
                <i class="material-icons">library_books</i>
                <p>Registrar Inventario</p>
              </a>
            </li>
            <li class="nav-item {% if activo_listar %} active {% endif %}">
              <a class="nav-link" href="{% url 'home:listar_inventario' %}">
                <i class="material-icons">content_paste</i>
                <p>Lista Inventario</p>
              </a>
            </li>
            <!-- Puedes agregar más elementos al submenú aquí si es necesario -->
          </ul>
        </li>
          <li class="nav-item {% if activo_calendario %} active {% endif %}">
            <a class="nav-link" href="{% url 'home:calendario' %}">
              <i class="material-icons">date_range</i>
              <p>Calendario</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-maps' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-maps.html">
              <i class="material-icons">location_ons</i>
              <p>Maps</p>
            </a>
          </li>
          <li class="nav-item {% if 'ui-notifications' in segment %} active {% endif %}">
            <a class="nav-link" href="/ui-notifications.html">
              <i class="material-icons">notifications</i>
              <p>Notifications</p>
            </a>
          </li>

          <li class="nav-item ">
            <a class="nav-link" href="{% url 'logout' %}" >
              <i class="material-icons">directions_run</i>
              <p>Cerrar sesion</p>
            </a>
          </li>
        {% else %}

        {% endif %}
        </ul>
      </div>

    </div>
