{% extends "layouts/base.html" %}

{% block title %} Iniciar sesion {% endblock %}

{% block stylesheets %}
<style>
  .custom-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .custom-form {
  }

</style>
{% endblock stylesheets %}

{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-5 custom-center">
      <div class="card custom-form">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            <i class="fa fa-user" aria-hidden="true"></i>
            INICIAR SESIÓN
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
              {% if msg %}
                <span class="text-danger">{{ msg | safe }}</span>
              {% endif %}  
          </h6>
          
          <br />

          <form role="form" method="post" action="">

            {% csrf_token %}

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Nombre de usuario</label>
                  {{ form.username }}
                </div>
              </div>
            </div>

            <br />

            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label class="bmd-label-floating">Contraseña</label>
                  {{ form.password }}
                </div>
              </div>
            </div>

            <br />

            <button type="submit" class="btn btn-primary pull-left">Ingresar</button>

            &nbsp; &nbsp;
            <span class="pull-right">
              No tienes cuenta? <a href="{% url 'authentication:register' %}" class="text-primary">Crear</a>
            </span>

            <div class="clearfix"></div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}
