{% extends "layouts/base.html" %}

{% block title %} Calendario {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.5.1/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar-scheduler/1.10.1/scheduler.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="row">
    <div class="card">
        <div class="card-header card-header-primary">
            <h4 class="card-title">Calendario</h4>
            <p class="card-category"></p>
        </div>
        <div class="card-body">
            <div class="row">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>
<!-- Modal para agregar evento -->
<div class="modal fade" id="modalAddEvent" tabindex="-1" aria-labelledby="modalAddEventLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAddEventLabel">Agregar Evento</h5>
            </div>
            <div class="modal-body">
                  <form id="eventForm" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row mb-3">
                      <div class="col-md-6">
                        {{ form.titulo.label_tag }}
                        {{ form.titulo }}
                      </div>
                      <div class="col-md-6">
                        {{ form.descripcion.label_tag }}
                        {{ form.descripcion }}
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-md-6">
                        {{ form.fecha_inicio.label_tag }}
                        {{ form.fecha_inicio }}
                      </div>
                    </div>
                     <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeModalBtn">Cerrar</button>
                        <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-floppy-o" ></i> Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>

<script>
    //mostrar calendario

    $(document).ready(function() {
        $('#calendar').fullCalendar({
            schedulerLicenseKey: 'CC-Attribution-NonCommercial-NoDerivatives',
            locale: 'es',
            height: 800,
            header: {
                left: 'prev,next, today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            buttonText: {
                today: 'Hoy' // Cambiar el texto del botón "today" a "Hoy"
            },
            viewsButtonText: {
                month: 'Mes', // Cambiar el texto del botón de vista "month" a "Mes"
                week: 'Semana' // Cambiar el texto del botón de vista "week" a "Semana"
            },
            defaultView: 'month',
            defaultDate: '2021-07-07',
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit: true, // allow "more" link when too many events
            themeSystem: 'bootstrap4',
            events: [
                {% for event in eventos %}
                {
                    title: '{{ event.titulo }}',
                    start: '{{ event.fecha_inicio }}',
                },
                {% endfor %}
            ],
            // Al hacer clic en un día vacío del calendario se abre el modal para agregar un evento
            dayClick: function(date, jsEvent, view) {
                selectedDate = date.format('YYYY-MM-DD');
                $('#id_fecha_inicio').val(selectedDate);
                $('#modalAddEvent').modal('show');
            }
        });
    });
</script>

<script>
    $('#closeModalBtn').click(function() {
        $('#modalAddEvent').modal('hide');
    });
</script>


{% endblock javascripts %}