{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.min.css">
{% endblock stylesheets %}

{% block content %}
    <!----------------------------------------- tarjetas informativas ------------------------------------------------>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="fa fa-globe" aria-hidden="true"></i>
            </div>
            <p class="card-category">Total en inventario</p>
            <h3 class="card-title">{{ total_inventario }}
              <small>Unidades</small>
            </h3>
          </div>
          <div class="card-footer">
            <div class="stats">
                <a href=""><i class="fa fa-globe" aria-hidden="true"></i> Ver detalle</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">store</i>
            </div>
            <p class="card-category">Revenue</p>
            <h3 class="card-title">$34,245</h3>
          </div>
          <div class="card-footer">
          </div>
        </div>
      </div>
    </div>

    <!------------------ Grafica--------------------->
    <div class="card">
        <div class="card-header card-header-primary"
            <h4 class="card-title">Graficos</h4>
            <p class="card-category"></p>
        </div>
        <div class="card-body">
            <div class="row">
                  <div class="col-md-12">
                    <canvas id="graficoInventario" width="400" height="300"></canvas>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-md-6">
                    <canvas id="graficoInventarioPorta" width="400" height="400"></canvas>
                  </div>
                    <div class="col-md-6">
                    <canvas id="graficoInventarioLinea" width="400" height="400"></canvas>
                  </div>
            </div>
        </div>
    </div>

    <!------------------ Tabla--------------------->
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Inventario</h4>
            <p class="card-category"></p>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover table-striped" id="employeeTable">
              <thead class="text-primary">
                <th>ID</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Cantidad</th>
                <th>precio</th>
              </thead>
              <tbody>
              {% for inv in inventario %}
                <tr>
                    <td>{{ inv.id }}</td>
                    <td>{{ inv.nombre }}</td>
                    <td>{{ inv.descripcion }}</td>
                    <td>{{ inv.cantidad }}</td>
                    <td>{{ inv.precio }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block javascripts %}

<script>

  $(document).ready(function() {
    $('#employeeTable').DataTable({
      responsive: false, // Permite que la tabla sea responsive
      "language": {
        "lengthMenu": "Mostrar _MENU_ registros por página", // Cambia el texto de la paginación
        "zeroRecords": "No se encontraron resultados en su búsqueda", // Cambia el texto de cuando no hay registros
        "searchPlaceholder": "Buscar registros", // Cambia el texto del buscador
        "info": "Mostrando registros de _START_ al _END_ de un total de _TOTAL_", // Cambia el texto de la información de la tabla
        "infoEmpty": "No existen registros", // Cambia el texto de cuando no hay registros
        "infoFiltered": "(filtrado de un total de _MAX_ registros)", // Cambia el texto de cuando se filtra
        "search": "Buscar:", // Cambia el texto del buscador
        "paginate": {
          "previous": "Anterior", // Cambia el texto del botón "Anterior"
          "next": "Siguiente"     // Cambia el texto del botón "Siguiente"
        }
      }
    });
  });


</script>

<script>
// Función para generar un color aleatorio en formato hexadecimal
  function generarColorAleatorio() {
    const letras = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
      color += letras[Math.floor(Math.random() * 16)];
    }
    return color;
  }

//-------------Grafico de barras----------------
    // Obtener los datos desde la vista con AJAX
    fetch("{% url 'home:inventario_chart' %}")
      .then(response => response.json())
      .then(data => {
        const ctx = document.getElementById('graficoInventario').getContext('2d');
        const cantidades = data.cantidades;

        const coloresAleatorios = cantidades.map(generarColorAleatorio);

        const chart = new Chart(ctx, {
          type: 'bar', // Tipo de gráfico (barra)
          data: {
            labels: data.categorias, // Etiquetas del eje X (categorías)
            datasets: [{
              label: 'Cantidad de inventario',
              data: data.cantidades, // Datos de las cantidades
              backgroundColor: coloresAleatorios, // Colores de las barras
              borderColor: 'rgba(75, 192, 192, 1)', // Color del borde de las barras
              borderWidth: 1 // Ancho del borde de las barras
            }]
          },
          options: {
           responsive: true, // Habilitar la responsividad
            maintainAspectRatio: false, // Desactivar la relación de aspecto fijo
            scales: {
              y: {
                beginAtZero: true // Comenzar el eje Y desde el valor 0
              }
            }
          }
        });
      });

// ------------Grafico de polar----------------
  // Obtener los datos desde la vista con AJAX
  fetch("{% url 'home:inventario_chart' %}")
    .then(response => response.json())
    .then(data => {
      const ctx = document.getElementById('graficoInventarioPorta').getContext('2d');
      const cantidades = data.cantidades;

      // Generar una lista de colores aleatorios con la misma longitud que las cantidades
      const coloresAleatorios = cantidades.map(generarColorAleatorio);

      const chart = new Chart(ctx, {
        type: 'polarArea', // Cambiar el tipo de gráfico a pie chart
        data: {
          labels: data.categorias, // Etiquetas para las secciones del gráfico
          datasets: [{
            data: cantidades, // Datos de las cantidades
            backgroundColor: coloresAleatorios, // Colores de fondo de las secciones
            borderColor: 'rgba(75, 192, 192, 1)', // Color del borde de las secciones
            borderWidth: 1 // Ancho del borde de las secciones
          }]
        },
        options: {
          responsive: true, // Habilitar la responsividad
          maintainAspectRatio: false, // Desactivar la relación de aspecto fijo
        }
      });
    });

// ------------Grafico de Linea----------------
fetch("{% url 'home:inventario_chart' %}")
    .then(response => response.json())
    .then(data => {
      const ctx = document.getElementById('graficoInventarioLinea').getContext('2d');
      const cantidades = data.cantidades;

      // Generar una lista de colores aleatorios con la misma longitud que las cantidades
      const coloresAleatorios = cantidades.map(generarColorAleatorio);

      const chart = new Chart(ctx, {
        type: 'line', // Cambiar el tipo de gráfico a line chart (línea)
        data: {
          labels: data.categorias, // Etiquetas para el eje X (categorías)
          datasets: [{
            label: 'Cantidad de inventario',
            data: cantidades, // Datos de las cantidades
            fill: false, // No rellenar el área bajo la línea
            backgroundColor: coloresAleatorios[0], // Color de fondo de la línea
            borderColor: coloresAleatorios[1], // Color de la línea
            borderWidth: 1 // Ancho de la línea
          }]
        },
        options: {
          responsive: true, // Habilitar la responsividad
          maintainAspectRatio: false, // Desactivar la relación de aspecto fijo
          scales: {
            x: {
              display: true // Mostrar el eje X
            },
            y: {
              beginAtZero: true // Comenzar el eje Y desde el valor 0
            }
          }
        }
      });
    });
</script>


{% endblock javascripts %}
